.first-box-container {
    width: 200px;
    height: 100px;
    background-color:red;
    padding: 10px;
    margin: 10px;
    float:left
}

.second-box-container {
    width: 200px;
    height: 100px;
    background-color:yellow;
    padding: 10px;
    margin: 10px;
    position: relative;
    float:left;
}

.third-box-container {
    width: 200px;
    height: 100px;
    background-color:green;
    padding: 10px;
    margin: 10px;
    position: relative;
    float:left;
}